.wd-modules,
.wd-modules * {
  border-radius: 5px;
  border: none;
  margin: 0;
  padding: 0;
}

.wd-modules {
  margin: 10px;
}

.wd-modules > li {
  background-color: #ffffff;
  border: 1px solid #dcdcdc !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.wd-modules > li:hover {
  background-color: #f9f9f9;
  transform: scale(1.02);
}

.wd-modules > li > div {
  padding: 12px;
}

.wd-modules > li > ul > li {
  padding: 10px;
  border-top: 1px solid #dcdcdc !important;
  border-left: 3px solid #28a745;
  transition: background-color 0.3s ease;
}

.wd-modules > li > ul > li:hover {
  background-color: #f1f1f1;
}

.wd-modules > li > ul > ul > li {
  padding: 10px;
  border-top: 1px solid #dcdcdc !important;
  border-left: 3px solid #28a745;
  background-color: #fafafa;
  transition: background-color 0.3s ease;
}

.wd-modules > li > ul > ul > li:hover {
  background-color: #f1f1f1;
}

.wd-modules > li > ul > ul > li > i,
.wd-modules > li > ul > ul > li > a > i {
  color: #888;
  margin-right: 2rem;
}

.wd-modules > li > ul > ul > li > a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.wd-modules > li > ul > ul > li > a:hover {
  color: #0056b3;
}

.wd-modules > li {
  margin-bottom: 20px;
}

#main-button-group button,
select,
option {
  background-color: #ffffff;
  border: 1px solid #c1c1c1;
  height: 2.5rem;
  max-width: 10rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#main-button-group button:hover,
select:hover,
option:hover {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.modules-button-group button {
 
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
  font-size: 0.9rem;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}

.modules-button-group button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
