.details-button-grp button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.details-button-grp button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.quiz-fields {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quiz-labels {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: #333;
}

.quiz-fields .quize-value-field {
  text-align: left;
  color: #555;
}

.input-label-grps .input-grp {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-label-grps .input-grp .input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.input-label-grps .input-grp label {
  width: 30%;
  text-align: right;
  padding: 10px;
  font-size: 1rem;
  color: #444;
}

.input-label-grps .input-grp input,
.input-label-grps .input-grp select,
.input-label-grps .input-grp option,
.input-label-grps .input-grp textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-label-grps .input-grp input:focus,
.input-label-grps .input-grp select:focus,
.input-label-grps .input-grp textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-label-grps .input-grp button {
  width: 20%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.input-label-grps .input-grp button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.quiz-input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.quiz-input-group .quiz-input-label {
  width: 30%;
  text-align: right;
  color: #444;
}

.quiz-input-group .quiz-input-cont {
  width: 60%;
}

.quiz-input-group .quiz-input-cont select,
.quiz-input-group .quiz-input-cont option {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.quiz-inner-input-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quiz-inner-input-cont label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: #444;
}

.quiz-question-editor-grp button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.quiz-question-editor-grp button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.quiz-questions-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.quiz-questions-grp .quiz-question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-questions-grp .quiz-question-container .quiz-question-title {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.quiz-questions-grp .quiz-question-container .quiz-question-body p {
  margin: 0;
}

.quiz-questions-grp .quiz-question-container .quiz-question-body {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#quiz-select,
#quiz-select option {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newQuestion-main-grp .quiz-input-group label {
  width: 60%;
  text-align: right;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: #444;
}

.newQuestion-main-grp .quiz-input-group label span {
  width: 30%;
  text-align: right;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.newQuestion-main-grp .quiz-input-group label input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newQuestion-main-grp .newQuestionButtonContainer button {
  float: right;
  color: #007bff;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.newQuestion-main-grp .newQuestionButtonContainer button:hover {
  color: #0056b3;
  transform: scale(1.05);
}

.newQuestion-main-grp .newQuestionButtonContainer button:disabled {
  color: gray;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
}

.newQuestion-main-grp .newQuestion-heading {
  font-size: 1.1rem;
  font-weight: bold;
  color: #444;
}

.preview-question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.preview-question-container .preview-question-title {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.preview-question-container .preview-question-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2rem;
}

.preview-question-container .preview-question-body .preview-question {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-question-container .preview-question-body .preview-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-questions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.preview-options label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: #444;
}

.preview-questions-container button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.preview-questions-container button:hover {
  color: #0056b3;
  transform: scale(1.05);
}

.preview-heading {
  font-size: 1.1rem;
  font-weight: bold;
  color: #444;
}

.preview-heading span {
  font-weight: lighter;
  font-size: 1rem;
  padding: 1rem;
  background-color: #f9ece8;
  color: #c22200;
  border-radius: 5px;
  display: inline-flex;
  width: 100%;
}

.preview-button,
.preview-submit-button-container button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  color: #07132c;
  background-color: #f2f2f2;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.preview-button:hover,
.preview-submit-button-container button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.preview-submit-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

.preview-options .fillintheblank input {
  width: 35%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.preview-options .fillintheblank input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
